extends layout

block content
  h1.test= title
  p Welcome to #{title}
  button Test
  div.bucket BUCKET
  div.article(draggable="true" ng-repeat="article in articles", ng-click="makePopular()")
    div(id='{{article.id}}')
      div 
        b {{article.title}}
      br
      div {{article.text}}