extends layout

block content
  //- Intro Animation
  div.intro_animation_screen
    div.introAnimationStage
      //- Intro Shot 0 - Loading
      div.newIntroShot(id='shot0')
      //- Intro Shot 1 - Drag & Drop Articles
      div.newIntroShot(id='shot1')
        div.staticRectangles(id='staticArticle')
        div(id='movingRect')
          img(id='pointer' src='images/pointer.png')
        div.staticRectangles(id='staticArticle2')
        div(id='speechbubble')
          img(id='pointer2' src='images/pointer2.png')
        #regularIntroBucket
      //- Intro Shot 2 - Peek Text
      div.newIntroShot(id='shot2')
        #introReader
          div.introVerticalLine
            div.word
              span#introFront
              span#introCenter
              span#introBack
      //- Intro Shot 3 - Welcome Page
      div.newIntroShot(id='shot3')
        img(id='welcomeText' src='images/welcome.png')
        .welcome_bucket
          #welcomeIntroBucket
          //- div(id="welcomeBucketStage")
        h1.introHeader peek.
        div.closeIntroButton Enter
  div.options.latest(ng-class="{articles_selection: !show_popular}" ng-click="showLatest()") 
    b LATEST
  div.options.popular(ng-class="{articles_selection: show_popular}" ng-click="showPopular()") 
    b POPULAR
  div.search
    p.glyphicon.glyphicon-search 
    input(ng-model="search")
  //- Main Page
  .options_tab_panel
  div.fadebottom  
  //- Bucket for reading articles
  .full_bucket_side_panel
    .bucket_container(ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="onLeave()") 
      a.peek(href="https://github.com/newenegue/peek" target="_blank" ng-mouseover="peek = 'ピーク'" ng-mouseleave="peek = 'PEEK'") {{peek}}
      .trashcan
        h4.delete_all.glyphicon.glyphicon-trash
      .bucket
        .bucket_item_holder 
          //- strong Drag to add article
    //- Animated Bucket
    .animation_container
      div(id="stage")
    .shadow_container
      div(id="shadowStage")
      img(id='heart' src='images/heart.svg')
    //- Bucket Bottom Fade
    .bucketfadebottom
  //- Articles list
  .articles
    div.article(ng-repeat="article in articles | removeTopStories:this | filter:search | orderBy:'-popularity'"  ng-dblclick="addToBucket(article, $event)" ng-class="{article_in_bucket: inBucket(article)}" draggable="true" ondragstart="onDragStart(event)")   
      //- Latest Articles from NPR
      div(ng-if="!show_popular" id='{{article.id}}' data-paragraph='{{article.text.paragraph}}' data-article-link="{{article.link[0].$text}}")
        //- find primary image and show those images.  only show src if it exists?  what is the main error?
        img.main_image(ng-class="{article_img_in_bucket: inBucket(article)}" ng-class-even="'main_image_right'" ng-src="{{article | getMainImage}}" data-thumb="{{article | getThumbnail }}") 
        .article_content
          .title 
            b {{article.title.$text}}
          br
          div.text(ng-bind-html="article.teaser.$text")
      //- Popular Ariticles from PEEK DB
      div(ng-if="show_popular" id='{{article.article.id}}' data-paragraph='{{article.article.paragraph}}' data-article-link="{{article.article.link}}")
        {{article.popularity}}
        img.main_image(ng-class-even="'main_image_right'" ng-src="{{article.article.mainImage}}" data-thumb="{{article.article.thumbnail}}") 
        .article_content
          .title 
            b {{article.article.title}}
          br
          div.text {{article.article.teaser}}
    .loading(ng-show="loading")

  
  //- Reader

  div.article_container
    button.close.glyphicon.glyphicon-remove
    #reader
    #fullWord
      span#front {{front}}
      span#center {{center}}
      span#back {{back}}
    br
    h2.glyphicon.glyphicon-play(id='submit', onclick='read()')
    br
    select#wpm
      option(value='100') 100 WPM
      option(value='200') 200 WPM
      option(value='300') 300 WPM
      option(value='400') 400 WPM
      option(value='500') 500 WPM
      option(value='600') 600 WPM
      option(value='700') 700 WPM
      option(value='800') 800 WPM
      option(value='900') 900 WPM

    br
    div#slider
    a.link_to_article(href="http://www.npr.org" target="_blank") Read on NPR
