extends layout

block content
  h1.test= title
  p Welcome to #{title}
  button Test
  div.article(ng-repeat="article in articles", ng-click="makePopular()")
    div 
      b {{article.title}}
    br
    div {{article.text}}