extends layout

block content
  h1.test= title
  p Welcome to #{title}
  //- Bucket for reading articles
  div.bucket_container(ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="onLeave()") 
    div.bucket
      h4.bucket_name BUCKET
      div.bucket_item_holder 
        strong Drag to add article
  //- Animated Bucket
  div.animation_container
    div(id="stage")
  div.shadow_container
    div(id="shadowStage")
    img(id='heart' src='images/heart.svg')
  //- Articles list
  div.articles
    div.article(ng-repeat="article in articles | removeTopStories" draggable="true" ondragstart="onDragStart(event)" ng-dblclick="addToBucket(article, $event)")   
      div(id='{{article.id}}' data-paragraph='{{article.text.paragraph}}' data-article-link="{{article.link[0].$text}}")
        //- find primary image and show those images.  only show src if it exists?  what is the main error?
        img.main_image(src="{{article | getMainImage}}" data-thumb="{{article.image[0].src}}") 
        div.article_content
          div.title 
            b {{article.title.$text}}
          br
          div.text(ng-bind-html="article.teaser.$text")

  
  //- Reader

  div.article_container
    button.close.glyphicon.glyphicon-remove
    #reader
      div.verticalLine
        span#front {{front}}
        span#center {{center}}
        span#back {{back}}
    br
    button#restart(onclick='restart()') Restart
    button#rewind(onclick='rewind()') Rewind
    button#submit(onclick='read()') Play
    h2.glyphicon.glyphicon-play(id='submit', onclick='read()')
    button#forward(onclick='forward()') FastForward
    
    select#wpm
      option(value='100') 100 WPM
      option(value='200') 200 WPM
      option(value='300') 300 WPM
      option(value='400') 400 WPM
      option(value='500') 500 WPM
      option(value='600') 600 WPM
      option(value='700') 700 WPM
      option(value='800') 800 WPM
      option(value='900') 900 WPM
