extends layout

block content
  h1.test= title
  p Welcome to #{title}
  button Test
  //- Bucket for reading articles
  div.bucket_container(ondrop="drop(event)" ondragover="allowDrop(event)") BUCKET
    div.bucket
  //- Articles list
  div.articles
    div.article(ng-repeat="article in articles")
      div(id='{{article.id}}' draggable="true" ondragstart="onDragStart(event)")
        div.title 
          b {{article.title}}
        br
        div.text {{article.text}}