extends layout

block content
  h1.test= title
  p Welcome to #{title}
  //- Bucket for reading articles
  div.bucket_container(ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="onLeave()") 
    div.bucket
      h4.bucket_name BUCKET
      div.bucket_item_holder 
        strong Drag to add article
  //- Animated Bucket
  div.animation_container
    div(id="stage")
  div.shadow_container
    div(id="shadowStage")
    img(id='heart' src='images/heart.svg')
  //- Articles list
  div.articles(infinite-scroll="addArticles()")
    div.article(ng-repeat="article in articles track by $index" draggable="true" ondragstart="onDragStart(event)" ng-dblclick="addToBucket(article, $event)")
      div(id='{{article.id}}' data-paragraph='{{article.text.paragraph}}')
        img.main_image(ng-show="article.image != null" src="{{article.image[0].crop[1].src}}" data-thumb="{{article.thumbnail.medium.$text}}")
        div.article_content
          div.title 
            b {{article.title.$text}}
          br
          div.text(ng-bind-html="article.teaser.$text")
  //- Reader
  div.article_container
    button.close(class="glyphicon glyphicon-remove")
    h3.readerIpsum Peek Reader will go Here
    button#restart(onclick='restart()') Restart
    button#rewind(onclick='rewind()') Rewind
    button#submit(onclick='read()') Play
    button#forward(onclick='forward()') FastForward
    br
    #reader(style='font-size: 36; width: 300px; border: 1px solid black; height: 50px;')
      span#front(style='position: absolute;') {{front}}
      span#center(style='color: red; position: absolute; left: 100px;') {{center}}
      span#back(style='position: absolute;') {{back}}
    
    select#wpm
      option(value='100') 100 WPM
      option(value='200') 200 WPM
      option(value='300') 300 WPM
      option(value='400') 400 WPM
      option(value='500') 500 WPM
      option(value='600') 600 WPM
      option(value='700') 700 WPM
      option(value='800') 800 WPM
      option(value='900') 900 WPM
