doctype html
html(ng-app="PeekApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js")
    script(src="/javascripts/jquery.sortable.min.js")
    script(src="/javascripts/drag.js")
    script(src="/javascripts/main.js")
  body(class="main" ng-controller="PeekCtrl")
    block content