/*-----------------------------------------
Intro Animation
-----------------------------------------*/
.intro_animation {
  position: fixed;
  /*
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,255,255,1) 0%, rgba(0,0,0,1) 100%); /* ff3.6+ */
  /* background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(118,194,187,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
  /* background:-webkit-radial-gradient(center, ellipse cover, rgba(0,255,255,1) 0%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
  /* background: -o-radial-gradient(center, ellipse cover, rgba(0,255,255,1) 0%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
  /* background: -ms-radial-gradient(center, ellipse cover, rgba(0,255,255,1) 0%, rgba(0,0,0,1) 100%); /* ie10+ */
  /* background:radial-gradient(ellipse at center, rgba(0,255,255,1) 0%, rgba(0,0,0,1) 100%); /* w3c */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffff', endColorstr='#000000',GradientType=1 ); /* ie6-9 */
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 200;
  text-align: center;
  margin: 0 auto;
  padding-top: 10%;
  padding-bottom: 5%;
}

.end_intro {
  display: none;
  z-index: -50;
}

.staticRectangles {
  height: 75px;
  width: 260px;
  border-radius: 3px;
  background-color: rgba(148,0,211,.7);
  margin: 0 auto; 
  margin-bottom: 10px;
  position: relative;
  padding-top: 5%;
  padding-left: 40px;
  font-size: 2em;
}

#staticArticle {
  margin-bottom: 10px;
}

#staticArticle2 {
}

#movingRect {
  height: 75px;
  width: 260px;
  /*width: 300px;*/
  border-radius: 3px;
  background-color: rgba(148,0,211,1);
  margin: 0 auto;
  margin-bottom: 10px;
  z-index: 1; 
  position: relative;
  text-align: center;
  padding-top: 5%;
  font-size: 2em;
  border: 3px solid white;
}

#bucketYo {
  height: 200px;
  width: 600px;
  margin: 0 auto;
  background-image: url(images/peek_bin.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bucketHappy {
  height: 200px;
  width: 600px;
  margin: 0 auto;
  background-image: url(images/happy_peek_bin.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#pointer {
  border: 1px solid black;
  height: 40px;
  float: right;
  margin-top: -40px;
  margin-right: 20px;
  -webkit-transform:rotate(-30deg);
}

#merp {
  font-size: 6em;
  width: 1000px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  height: 200px;
  margin: 0 auto;
  margin-top: 10%;
}

.closeIntroButton {
  height: 50px;
  width: 100px;
  background-color: yellow;
  padding-top: 1%;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 20%;
  border-radius: 10px;
}

.intro_bucket {
  position: relative;
  width: 16%;
  height: 42%;
  margin: 0 auto;
}

#introBucketStage {
  /*border: 1px solid black;*/
  overflow: auto;
  position: relative;
  height: 100%;
}

#IntroLayer_1 {
  height: 100%;
  /*position: absolute;*/
  /*top: 20%;*/
  width: 100%;
}

#introMouth {
  opacity: 1;
}

#introGrin {
  opacity: 0;
}
#closedEyesIntro {
  opacity: 0;
}

#happy {
  opacity: 1;
}

#openEyesIntro:hover { 
  opacity: 0;
}

#openEyesIntro {
-webkit-animation: happyTrans 4s steps(30, start);
}

  @-webkit-keyframes happyTrans {
    to { visibility: hidden; }
  }