/*-----------------------------------------
Intro Animation
-----------------------------------------*/
.intro_animation_screen {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 200;
  text-align: center;
  margin: 0 auto;
  padding-top: 5%;
}

.end_intro {
  display: none;
  z-index: -50;
}

/*-----------------------------------------
Intro div shot positioning
-----------------------------------------*/
.introAnimationStage {
  overflow: hidden;
  margin: 0 auto;
}

.newIntroShot {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#shot0 {
  height: 100%;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
}

#shot1 {
  top: 110%;
  height: 100%;
  width: 100%;
  /*margin-top: 5%;*/
  /*background-color: white;*/
  visibility: hidden;
  padding: 5%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(../images/bg1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#shot2 {
  top: 110%;
  height: 100%;
  width: 100%;
  background-color: white;
}

#shot3 {
  background-color: white;
  top: 110%;
  background-image: url(../images/newyork.png);
  height: 100%;
  width: 100%;
}

/*-----------------------------------------
Articles
-----------------------------------------*/

#newspaper {
  background-image: url(../images/newspaper.png);
  height: 500px;
  width: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
  margin-top: -100px;
}

#newspaper_article {
  background-image: url(../images/newspaper-article.png);
  height: 454px;
  width: 500px;
  right: 590px;
  top: -19px;
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  margin: 0 auto;
}

.moving_mountains {
  -webkit-animation: pan 1s;
}

@-webkit-keyframes pan {
      from {
        top:0px;
        right:0px;
      }
      to {
        top: 0px;
        right:-100px;
      }
    }

 @keyframes pan {
      from {
        top:0px;
        right:0px;
      }
      to {
        top: 0px;
        right:-100px;
      }
    }

.staticRectangles {
  height: 75px;
  width: 260px;
  border-radius: 3px;
  background-color: rgba(148,0,211,.7);
  margin: 0 auto; 
  margin-bottom: 10px;
  position: relative;
  padding-top: 5%;
  padding-left: 40px;
  font-size: 2em;
}

#staticArticle {
  margin-bottom: 10px;
}

#staticArticle2 {
}

#movingRect {
  height: 75px;
  width: 260px;
  /*width: 300px;*/
  border-radius: 3px;
  background-color: rgba(148,0,211,1);
  margin: 0 auto;
  margin-bottom: 10px;
  z-index: 1; 
  position: relative;
  text-align: center;
  padding-top: 5%;
  font-size: 2em;
  border: 3px solid white;
}

/*-----------------------------------------
Intro Bucket
-----------------------------------------*/

.intro_bucket {
  position: relative;
  margin: 0 auto;
}

#introBucketStage {
  position: relative;
  margin: 0 auto;
}

#IntroLayer_1 {
  height: 25%;
  width: 260px;
  margin: 0 auto;
}

#introMouth {
  opacity: 1;
}

#introGrin {
  opacity: 0;
}

#closedEyesIntro {
  opacity: 0;
}

#happyIntro {
  opacity: 1;
}

#openEyesIntro {
  opacity: 1;
  position: relative;
}

#openEyesIntro:hover { 
  opacity: 0;
}

#regularIntroBucket {
  background-image: url(../images/peek_bin_intro_sprite.png);
  height: 204px;
  width: 268px;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
  top: -150px;
  background-position: -6px -6px;
  border: 1px solid red;
}

#welcomeIntroBucket {
  background-image: url(../images/peek_bin_intro_sprite.png);
  height: 204px;
  width: 268px;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
  background-position: -6px -6px;
}
/*-----------------------------------------
Speech Bubble
-----------------------------------------*/

#speechbubble {
  height: 280px;
  background-image: url(../images/speechbubble.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  margin-bottom: 1%;
}

/*-----------------------------------------
Pointer Cursor
-----------------------------------------*/

#pointer {
  height: 50px;
  top: 200px;
  right: 100px;
  position: absolute;
  /*-webkit-transform:rotate(-30deg);*/
}

#pointer2 {
  height: 60px;
  /*float: right;*/
  right: 120;
  /*margin-right: 50%;*/
  position: absolute;
  margin-top: 10%;
}

/*-----------------------------------------
Peek Reader Intro
-----------------------------------------*/
#introReader {
  font-size: 6em;
  width: 80%;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  height: 200px;
  margin: 0 auto;
  margin-top: 10%;
  position: relative;
}

.word {
  height: 120px;
  /*border: 1px solid orange;*/
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  margin-top: 3%;
  text-align:center;
}

#introFront {
  position: relative;
  background-color: white;
}

#introCenter {
  color: red;
  position: relative;
  background-color: white;
}

.introVerticalLine {
  width: 49%;
  height: 197px;
  border-right: 3px solid black;
  z-index: -47;
  overflow: visible;
}

#introBack {
  position: relative;
  background-color: white;
}

/*-----------------------------------------
Welcome Bucket
-----------------------------------------*/

.welcome_bucket {
  position: relative;
  margin: 0 auto;
}

#welcomeBucketStage {
  position: relative;
  margin: 0 auto;
}

#WelcomeLayer_1 {
  height: 25%;
  width: 260px;
  margin: 0 auto;
}

#closedEyesWelcome{
  opacity: 0;
}

#happyWelcome {
  opacity: 1;
}

#openEyesWelcome {
  opacity: 1;
  position: relative;
}

#openEyesWelcome:hover { 
  opacity: 0;
}

#welcomeText {
  /*opacity: 0;*/
  height: 300px;
  width: 300px;
}

/*#welcomeText:hover {
  opacity: 1;
}*/

/*-----------------------------------------
Enter Button
-----------------------------------------*/
.closeIntroButton {
  height: 50px;
  width: 200px;
  background-color: #16a6b6;
  font-family: 'Quicksand';
  color: white;
  padding-top: 5px;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 20%;
  border-radius: 10px;
  font-size: 2em;
}

/*-----------------------------------------
Intro Header
-----------------------------------------*/
.introHeader {
  margin-bottom: 2%;
  font-family: 'Quicksand';
  font-size: 5em;
}