/*-----------------------------------------
Intro Animation
-----------------------------------------*/
.intro_animation_screen {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 200;
  text-align: center;
  margin: 0 auto;
  padding-top: 5%;
}

.end_intro {
  display: none;
  z-index: -50;
}

/*-----------------------------------------
Intro div shot positioning
-----------------------------------------*/
.introAnimationStage {
  overflow: hidden;
  margin: 0 auto;
}

.newIntroShot {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#shot2 {
  top: 110%;
  height: 100%;
  width: 100%;
  background-color: white;
}

#shot3 {
  background-color: white;
  top: 110%;
  border: 5px solid orange;
  padding-top: 10%;
  height: 100%;
  width: 100%;
}

/*-----------------------------------------
Articles
-----------------------------------------*/
.staticRectangles {
  height: 75px;
  width: 260px;
  border-radius: 3px;
  background-color: rgba(148,0,211,.7);
  margin: 0 auto; 
  margin-bottom: 10px;
  position: relative;
  padding-top: 5%;
  padding-left: 40px;
  font-size: 2em;
}

#staticArticle {
  margin-bottom: 10px;
}

#staticArticle2 {
}

#movingRect {
  height: 75px;
  width: 260px;
  /*width: 300px;*/
  border-radius: 3px;
  background-color: rgba(148,0,211,1);
  margin: 0 auto;
  margin-bottom: 10px;
  z-index: 1; 
  position: relative;
  text-align: center;
  padding-top: 5%;
  font-size: 2em;
  border: 3px solid white;
}

/*-----------------------------------------
Bucket
-----------------------------------------*/

.intro_bucket {
  position: relative;
  margin: 0 auto;
}

#introBucketStage {
  position: relative;
  margin: 0 auto;
}

#IntroLayer_1 {
  height: 25%;
  width: 260px;
  margin: 0 auto;
}

#introMouth {
  opacity: 1;
}

#introGrin {
  opacity: 0;
}
#closedEyesIntro {
  opacity: 0;
}

#happy {
  opacity: 1;
}

#openEyesIntro {
  opacity: 1;
  position: relative;
}

#openEyesIntro:hover { 
  opacity: 0;
}



/*-----------------------------------------
Pointer Cursor
-----------------------------------------*/

#pointer {
  height: 60px;
  float: right;
  margin-right: 20px;
  position: absolute;
  margin-top: -4%;
  -webkit-transform:rotate(-30deg);
}

/*-----------------------------------------
Peek Reader Intro
-----------------------------------------*/
#introReader {
  font-size: 6em;
  width: 80%;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  height: 200px;
  margin: 0 auto;
  margin-top: 10%;
  position: relative;
}

.word {
  height: 120px;
  /*border: 1px solid orange;*/
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  margin-top: 3%;
  text-align:center;
}

#introFront {
  position: relative;
  background-color: white;
}

#introCenter {
  color: red;
  position: relative;
  background-color: white;
}

.introVerticalLine {
  width: 49%;
  height: 197px;
  border-right: 3px solid black;
  z-index: -47;
  overflow: visible;
}

#introBack {
  position: relative;
  background-color: white;
}

/*-----------------------------------------
Enter Button
-----------------------------------------*/
.closeIntroButton {
  height: 50px;
  width: 200px;
  background-color: #16a6b6;
  font-family: 'Quicksand';
  color: white;
  padding-top: 5px;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 20%;
  border-radius: 10px;
  font-size: 2em;
}

/*-----------------------------------------
Intro Header
-----------------------------------------*/
.introHeader {
  margin-bottom: 2%;
  font-family: 'Quicksand';
  font-size: 5em;
}