


@media only screen and (min-width : 320px) and (max-width: 480px) {
  #navbar {
    /*background-color: rgba(255, 0, 0, .8);*/
  }
  .main_image {
    clear: both;
    width: 100%;
    /*margin: 0 auto;*/
  }
  .article_content {
    width: 100%;
    font-size: 0.8em;
  }

  input {
    width: 81%;
  }
    .bucket_title {
    font-size: 0.6em;
  }
}
@media only screen and (min-width : 481px) and (max-width: 767px) {
  #navbar {
    /*background-color: rgba(255, 255, 0, .8);*/
  }
  .main_image {
    clear: both;
    width: 100%;
    /*margin: 0 auto;*/
  }
  .article_content {
    width: 100%;
    font-size: 1em;
  }

  input {
    width: 94%;
  }
    .bucket_title {
    font-size: 0.7em;
  }
}
@media only screen and (min-width : 768px) and (max-width: 1024px) {
  #navbar {
    /*background-color: rgba(0, 255, 0, .8);*/
  }
  .main_image {
    width: 30%;
  }
  .article_content {
    width: 70%;
    font-size: 0.9em;
  }

  input {
    width: 95%;
  }
    .bucket_title {
    font-size: 1em;
  }
}
@media only screen and (min-width : 1025px) and (max-width: 1223px) {
  #navbar {
    /*background-color: rgba(0, 255, 255, .8);*/
  }
  .main_image {
    width: 25%;
  }
  .article_content {
    width: 75%;
  }

  .bucket_title {
    font-size: 1.1em;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  #navbar {
    /*background-color: rgba(0, 0, 255, .8);*/
  }
}

