/*-----------------------------------------
Reader alignment
-----------------------------------------*/

/*-----------------------------------------
Article peek
-----------------------------------------*/
.article_container {
  position: fixed;
  background-color: rgba(255,255,255,1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: -50;
}

.peek_article {
  display: block;
  z-index: 100;
  text-align: center;
}

#reader {
  width: 85%;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  height: 200px;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
}

#reader:before {
  content: '';
  position: absolute;
  left: 40%;
  height: 1.2rem;
  width: 3px;
  margin-left: -1px;
  top: 0;
  background-color: black;
}

#reader:after {
  content: '';
  position: absolute;
  left: 40%;
  height: 1.2rem;
  width: 3px;
  margin-left: -1px;
  bottom: 0;
  background-color: black;
}

/*Reader*/
#countdown_left {
  background-color: rgba(118, 194, 187, 0.3);
  /*width: 40%;*/
  height: 140%;
  top: -20%;
  position: absolute;
  z-index: 20;
  /*display: none;*/
}

#countdown_right {
  background-color: rgba(118, 194, 187, 0.3);
  height: 140%;
  /*width: 60%;*/
  position: absolute;
  left: 40%;
  top: -20%;
  z-index: 20;
  /*display: none;*/
}

#fullWord {
  font-size: 1em;
  width: 80%;
  height: 150px;
  margin: 0 auto;
  /*border: 1px solid green;*/
  margin: 0 auto;
  margin-top: -170px;
  font-size: 6em;
}

#front {
  background-color: white;
  position: absolute;
}

#center {
  color: red;
  left: 41%;
  /*left: 590px;*/
  background-color: white;
  position: absolute;
}

#back {
  background-color: white;
  position: absolute;
}

.close {
  margin: 5%;
}

#slider {
  margin: 0 auto;
  width: 300px;
}