/*-----------------------------------------
Fonts
-----------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700|Raleway:400,300,600);

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body.main {
  background-color: rgba(245, 245, 245, 1);
  border: 20px solid rgba(255, 255, 255, 1);
  background-image: url(../images/p5.png);
/*  border-width: 3%;
  border-color:rgba(255, 255, 255, 1); */
}

a {
  color: #00B7FF;
}

.test {
  color: #999;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  margin-left: 5%;
  z-index: 11;
}

#navbar {
  z-index: 10;
  height: 80px;
  width: 100%;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0 0 15px black;
  position: fixed;
  top: 0;
  left: 0;
}

/*-----------------------------------------
Newsfeed
-----------------------------------------*/

.articles {
  width: 80%;
}

.article {
  border: 1px solid #6a6a65;
  background-color: #d1d1d1;
  box-shadow: 0 0 15px black;
  cursor: pointer;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 30px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}

.article:hover {
  /*border: 4px solid #ee6557;*/
  background-color: #16a6b6;
  border: 1px solid #16a6b6;
  -webkit-transition: all .7s ease-in-out;
}

.article_container {
  overflow: auto;
}

.article_container h2.glyphicon {
  border: 5px solid black;
  padding: 2px;
  border-radius: 10px;
}

.article_in_bucket {
  border: 2px solid #e0e0e0;
  background-color: #e0e0e0;
  color: rgba(151, 151, 151, 1);
  box-shadow: 0 0 0;
}

.article_in_bucket:hover {
  border: 2px solid #e0e0e0;
  background-color: #e0e0e0;
  cursor: auto;
}

.title {
  font-size: 1.6em;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.article_content {
  float: left;
  padding: 30px 10px 10px 10px;
  width: 80%;
  height: 100%;
  font-size: 1.2em;
}

.main_image {
  float: left;
  width: 20%;
  border-radius: 10px;
}

.search {
  position: fixed;
  left: 40%;
  top: 10px;
  font-size: 1.3em;
  height: 2em;
}

.glyphicon.glyphicon-search {
  position: absolute;
  top: 0.5em;
  left: -25px;
}

input {
  border: none;
  display: none;
  z-index: -10;
  background-color: transparent;
  height: 2em;
  width: 300px;
}

input:focus {
  outline: none;
}

input.show_input {
  display: inline;
  z-index: 10;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

.loading {
  background-image: url(../images/loading.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  left: 50%;
  position: relative;
  -webkit-transform-origin: 50% 50%;

  -webkit-animation-name:             rotate; 
  -webkit-animation-duration:         1.5s; 
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function: linear;
}

/*-----------------------------------------
Bucket: Content
-----------------------------------------*/

.bucket_container {
  position: fixed;
  text-align: center;
  z-index: 3;
  font-family: 'Raleway';
  font-weight: 600;
  width: 15%;
  height: 60%;
  padding: 3px;
  background: white;
  border-radius: 10px;
  border: gray solid 4px;
  right: 3%;
  top: 100px;
}

.bucket_selected {
  /*border: gold solid 4px;*/
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(218, 165, 32, 0.4);
}

.bucket_container:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: white transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -15px;
  left: 50%;
}

.bucket_container:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 18px 18px 0;
  border-color: gray transparent;
  display: block;
  width: 0;
  z-index: 0;
  bottom: -22px;
  left: 48.5%;
}

.bucket {
  width: 100%;
  height: 100%;
  overflow: scroll;
  list-style-type: none;
}

.bucket_item {
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 3px;
  width: 100%;
}

.bucket_item_holder {
  width: 100%;
  height: 60px;
  border: 2px dotted rgba(0,0,0,0.2);
  color: rgba(0,0,0,0.2);
  font-size: 1.2em;
  padding: 8%;
}

.item_holder_hover {
  color: rgba(218, 165, 32, 0.4);
  border: 2px dotted rgba(218, 165, 32, 0.4);
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.thumb {
  width: 100%;
  height: 100%;
}

.remove_bucket_item {
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 1.1em;
  cursor: pointer;
}

.bucket_img {
  position: relative;
}

.bucket_title {
  position: absolute;
  bottom: 0;
  padding: 5px;
}

.white_overlay {
  position: absolute;
  background-color: rgba(255,255,255,0.6);
  width: 100%;
  height: 100%;
}

.moreInfo {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding-top: 10%;
  background-color: rgba(0,0,0,0.8);
  color: white;
  overflow: hidden;
}

.showMoreInfo {
  display: block;

}

.handle {
  width: 50px;
  height: 50px;
  background-image: url(../images/toggle_order_icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  cursor: pointer;
}

/*-----------------------------------------
Drag placeholder and selector
-----------------------------------------*/
.sortable-dragging {
}
.sortable-placeholder {
  margin-bottom: 3px;
  border: 2px dashed red;
  width: 100%;
  height: 60px;
}

/*-----------------------------------------
Bucket: Animated
-----------------------------------------*/

/*
* === Whole Bucket ===
*/

/*
* — Container div to place bucket svg —
*/

.animation_container {
  position: fixed;
  width: 15%;
  height: 30%;
  right: 3%;
  bottom: 0%;
  /*border: 1px solid red;*/
}

/*
* — Container div to load bucket svg —
*/

#stage {
  position: relative;
  height: 100%;
  /*border: 1px solid black;*/
}

#Layer_1 {
  height: 100%;
  /*position: absolute;*/
  /*top: 20%;*/
  width: 100%;
}

.wholeBucket {
  -webkit-animation: float 3s ease-out infinite;
  -moz-animation: float 3s ease-out infinite;
  animation: float 3s ease-out infinite;
}

  @-webkit-keyframes float { 
    50% { 
      -webkit-transform: translate(0, 20px); 
    } 
  }

  @keyframes float {
    50% {
       transform: translate(0, 20px);
    }
  }

.happyBucket {
  /*refactor happy bucket & addClass/removeClass in js*/
}

/*
* === Bucket Bounce ===
*/

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  3s ease-out infinite
}
/*
* === Bucket Eyes ===
*/

#happy {
  opacity: 0;
}

#openEyes:hover { 
  opacity: 0;
}

#openEyes {
-webkit-animation: blink 4s steps(30, start) infinite;
}

  @-webkit-keyframes blink {
    to { visibility: hidden; }
  }

#leftPupil {
  -webkit-animation:spin 1s alternate infinite;
  -moz-animation:spin 1s alternate infinite;
  animation:spin 1s alternate infinite;
}

#rightPupil {
  -webkit-animation:spin 1s alternate infinite;
  -moz-animation:spin 1s alternate infinite;
  animation:spin 1s alternate infinite;
}

  @-moz-keyframes spin { 
    100% { 
      -moz-transform: rotate(-.5deg); 
    } 
  }

  @-webkit-keyframes spin { 
    100% { 
      -webkit-transform: rotate(-.5deg); 
    }
  }

  @keyframes spin { 
    100% { 
      -webkit-transform: rotate(-.5deg); 
      transform:rotate(-.5deg); 
    } 
  }

#grin {
  opacity: 0;
}

.excited {
  -webkit-transform-origin: 50% 50%;
  -webkit-transform: scale(1.5);
}

.default_eyes {
  -webkit-transform-origin: 50% 50%;
  -webkit-transform: scale(1);  
}

/*
* === Bucket Shadow ===
*/

.shadow_container {
  position: fixed;
  width: 15%;
  height: 10%;
  right: 3%;
  bottom: 0%;
  /*border: 1px solid green;*/
  z-index: -5;
}

#shadowStage {
  position: relative;
  height: 100%;
  /*border: 1px solid black;*/
}

.bucketShadow {
  height: 100%;
  position: absolute;
  top: 20%;
  width: 100%;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

.shadow {
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: shrink 3s ease-out infinite;
  -moz-animation: shrink 3s ease-out infinite;
  animation: shrink 3s ease-out infinite;
}

.pause {
  -webkit-animation-play-state:paused;
}

@-webkit-keyframes shrink {
  0% {
    -webkit-transform: scale(.8);
    
  }
  50% {
    -webkit-transform: scale(1.2);
    
  }
  100% {
    -webkit-transform: scale(.8);
    
  }
}


/*-----------------------------------------
Heart: Animated
-----------------------------------------*/

#heart {
  position: fixed;
  width: 2%;
  height: 9%;
  right: 17%;
  bottom: 16%;
  opacity: 0;
}