/*-----------------------------------------
Fonts
-----------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*-----------------------------------------
Newsfeed
-----------------------------------------*/

.article {
  border: 2px solid rgba(150,0,255,0.4);
  cursor: pointer;
  padding: 5px;
  margin-bottom: 10px;
  width: 80%;
}

.article:hover {
  border: 2px solid rgba(0,0,0,1);
}

.article_in_bucket {
  border: 2px solid rgba(0,0,0,0.2);
}

/*-----------------------------------------
Bucket: Content
-----------------------------------------*/

.bucket_container {
  position: fixed;
  text-align: center;
  z-index: 3;
  font-family: 'Quicksand';
  width: 15%;
  height: 70%;
  padding: 3px;
  background: white;
  border-radius: 10px;
  border: gray solid 4px;
  right: 3%;
  top: 5%;
}

.bucket_selected {
  /*border: gold solid 4px;*/
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(218, 165, 32, 0.4);
}

.bucket_container:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: white transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -15px;
  left: 50%;
}

.bucket_container:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 18px 18px 0;
  border-color: gray transparent;
  display: block;
  width: 0;
  z-index: 0;
  bottom: -22px;
  left: 48.5%;
}

.bucket {
  width: 100%;
  height: 100%;
  overflow: scroll;
  list-style-type: none;
}

.bucket_item {
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 3px;
  cursor: pointer;
  width: 100%;
  height: 60px;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

/*-----------------------------------------
Article peek
-----------------------------------------*/
.article_container {
  position: fixed;
  background-color: rgba(255,255,255,0.95);
  top: 0;
  left: 0;
  /*left: 2%;*/
  /*top: 10%;*/
  width: 100%;
  height: 100%;
  display: none;
  z-index: -50;
}

.peek_article {
  display: block;
  z-index: 100;
}




/*-----------------------------------------
Drag placeholder and selector
-----------------------------------------*/
.sortable-dragging {
  background-color: rgba(0,255,0,0.2);
}
.sortable-placeholder {
  /*margin: 2%;*/
  /*padding-bottom: 2%;*/
  margin-bottom: 3px;
  border: 2px dashed red;
  width: 100%;
  height: 60px;
}

/*-----------------------------------------
Bucket: Animated
-----------------------------------------*/

.animation_container {
  position: fixed;
  width: 15%;
  height: 30%;
  right: 3%;
  bottom: 5%;
  /*border: 1px solid red;*/
}

#stage {
  position: relative;
  height: 100%;
  /*border: 1px solid black;*/
}

#Layer_1 {
  height: 100%;
  position: absolute;
  top: 20%;
  width: 100%;
}

#wholeBucket {
  -webkit-animation: float 3s ease-out infinite;
  -moz-animation: float 3s ease-out infinite;
  animation: float 3s ease-out infinite;
}

  @-webkit-keyframes float { 
    50% { 
      -webkit-transform: translate(0, 20px); 
    } 
  }

  @keyframes float {
    50% {
       transform: translate(0, 20px);
    }
  }

#openEyes:hover { 
  opacity: 0;
}

#openEyes {
-webkit-animation: blink 4s steps(30, start) infinite;
}

  @-webkit-keyframes blink {
    to { visibility: hidden; }
  }

#leftPupil {
  -webkit-animation:spin .5s alternate infinite;
  -moz-animation:spin .5s alternate infinite;
  animation:spin .5s alternate infinite;
}

#rightPupil {
  -webkit-animation:spin .5s alternate infinite;
  -moz-animation:spin .5s alternate infinite;
  animation:spin .5s alternate infinite;
}

  @-moz-keyframes spin { 
    100% { 
      -moz-transform: rotate(-.2deg); 
    } 
  }

  @-webkit-keyframes spin { 
    100% { 
      -webkit-transform: rotate(-.2deg); 
    }
  }

  @keyframes spin { 
    100% { 
      -webkit-transform: rotate(-.2deg); 
      transform:rotate(-.2deg); 
    } 
  }

/*-----------------------------------------
Heart: Animated
-----------------------------------------*/

#heart {
  position: fixed;
  width: 2%;
  height: 9%;
  right: 17%;
  bottom: 16%;
  opacity: 0;
}

/*-----------------------------------------
Reader Page
-----------------------------------------*/
.close {
  margin: 5%;
}