body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.article {
  border: 2px solid rgba(150,0,255,0.4);
  cursor: pointer;
  padding: 5px;
}

.article:hover {
  border: 2px solid rgba(0,0,0,1);
}

.article_in_bucket {
  border: 2px solid rgba(0,0,0,0.2);
}

.bucket_container {
  border: 5px solid red;
  background-color: white;
  position: fixed;
  right: 0;
  top: 0;
  width: 15%;
  height: 70%;
}

.bucket {
  border: 1px solid green;
}