/*color: #ee6557; ORANGE*/
/*color: rgba(118, 194, 187, 1); BLUE*/

/*-----------------------------------------
Fonts
-----------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700|Raleway:400,300,600);

@font-face {
  font-family: Brandon_light;
  src: url(../fonts/Brandon_Grotesque/Brandon_reg.otf) format("opentype");
}

body {
  padding: 50px;
  /*font-family: Brandon_light, 'Raleway', sans-serif;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

body.main {
  background-color: rgba(255, 255, 255, 1);
  font-family: Brandon_light, 'Raleway', sans-serif;
}

a {
  color: #00B7FF;
}

.peek {
  color: rgba(118, 194, 187, 1);
  cursor: pointer;
  font-size: 2em;
  margin-left: -75%;
  position: relative;
}

.peek:hover {
  color: #ee6557;
  text-decoration: none;
}

.test {
  color: #999;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  margin-left: 5%;
  z-index: 11;
}

#navbar {
  z-index: 10;
  height: 80px;
  width: 100%;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0 0 15px black;
  position: fixed;
  top: 0;
  left: 0;
}

/*-----------------------------------------
Newsfeed
-----------------------------------------*/

.fadebottom {
  width: 76%;
  height: 15%;
  position: fixed;
  bottom: 0;
  left: 40px;
  z-index: 5;
  background-image:-webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .12) 50%, rgba(255,255, 255, .35));
}

.articles {
  margin-left: 40px;
  width: 76.5%;
}

.article {
  border: 3px solid transparent;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid rgba(118, 194, 187, 1);
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}

.article:hover {
  background-color: rgba(118, 194, 187, 1);
  -webkit-transition: all .15s ease-in-out;
  z-index: 1;
  color: white;
}

.options_tab_panel {
  height: 100%;
  width: 40px;
  position: fixed;
  background-color: gray;
  left: 0;
  top: 0;
}

.options {
  cursor: pointer;
  -webkit-transform:rotate(-90deg);
  -webkit-transform-origin: 0 0;
  /*background-color: rgba(100,100,100,1);*/
  background-color: rgba(200,200,200,1);
  color: rgba(0,0,0,0.5);
  z-index: 2;
  font-size: 1.2em;
}

.options:hover {
  background-color: rgba(118, 194, 187, 1);
  color: white;
  -webkit-transition: all .15s ease-in-out;
}

.popular {
  margin-top: 20px;
  text-align: center;
  padding-top: 5px;
  width: 200px;
  height: 30px;
  position: fixed;
  left: 10px;
  top: 433px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 2;
}

.latest {
  margin-top: 20px;
  text-align: center;
  padding-top: 5px;
  width: 200px;
  height: 30px;
  position: fixed;
  left: 10px;
  top: 230px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 2;
}

.articles_selection {
  color: #ee6557;
  background-color: white;
  cursor: default;
}

.articles_selection:hover {
  color: #ee6557;
  background-color: white;
}


.active_tab {
  background-color: white;
}

.article_container {
  overflow: auto;
}

.article_container h2.glyphicon {
  border: 4px solid rgba(0,0,0,0.5);
  padding: 2px;
  border-radius: 10px;
}

.article_container h2.glyphicon:hover {
  border: 4px solid rgba(0,0,0,0.3);
}

.glyphicon-play {
  color: rgba(0,0,0,0.5);
}

.glyphicon-play:hover {
  color:rgba(0,0,0,0.3);
}

.glyphicon-pause {
  color: rgba(0,0,0,0.5);
}

.glyphicon-pause:hover {
  color:rgba(0,0,0,0.3);
}

.glyphicon-repeat {
  color: rgba(0,0,0,0.5);
}

.glyphicon-repeat:hover {
  color:rgba(0,0,0,0.3);
}


.article_in_bucket {
  border: 3px solid transparent;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(118, 194, 187, 1);
}

.article_in_bucket:hover {
  border: 3px solid transparent;
  background-color: transparent;
  cursor: auto;
  box-shadow: 0 0 0;
  color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(118, 194, 187, 1);
}

.article_img_in_bucket {
  -webkit-filter: grayscale(100%) opacity(0.4);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

.title {
  font-size: 1.6em;
  /*font-family: Brandon_light, 'Raleway', sans-serif;*/
  font-weight: 400;
}

.article_content {
  float: left;
  padding: 30px 10px 10px 10px;
  width: 80%;
  height: 100%;
  font-size: 1.2em;
}

.main_image {
  float: left;
  width: 20%;
  /*border-radius: 10px;*/
}

.main_image_right {
  float: right;
}

.search {
  position: fixed;
  top: 0;
  font-size: 1.3em;
  height: 3em;
  width: 75%;
  z-index: 2;
  color: rgba(0,0,0,0.2);
}

.glyphicon.glyphicon-search {
  position: absolute;
  top: 1em;
  left: 10px;
  z-index: 2;
  
}

.glyphicon.glyphicon-search:hover {
  color: #ee6557;
  cursor: pointer;
  -webkit-transition: all .15s ease-in-out;
}

.search_open {
  color: rgba(118, 194, 187, 1);
}



input {
  border: none;
  display: none;
  z-index: -10;
  background-color: rgba(255,255,255,0.65);
  padding-left: 50px;
  height: 3em;
  width: 100%;
  z-index: 2;
}

input:focus {
  outline: none;
}

input.show_input {
  display: inline;
  z-index: 10;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

.loading {
  background-image: url(../images/loading.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  left: 50%;
  margin: 10px;
  position: relative;
  -webkit-transform-origin: 50% 50%;

  -webkit-animation-name:             rotate; 
  -webkit-animation-duration:         1.5s; 
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function: linear;
}

/*-----------------------------------------
Bucket: Content
-----------------------------------------*/

.full_bucket_side_panel {
  position: fixed;
  height: 100%;
  width: 20%;
  padding-left: 1%;
  padding-right: 1%;
  top: 0;
  right: 0;
  background-color: rgba(80,87,89,1);
}

.bucket_container {
  text-align: center;
  z-index: 3;
  /*font-family: Brandon_light, 'Raleway', sans-serif;*/
  font-weight: 600;
  width: 100%;
  height: 100%;
  padding: 3px;
  /*background: white;*/
  /*border: gray solid 4px;*/ /*16a6b6*/
  /*background-color: #505759;*/
  /*border: gray solid 4px;*/ /*16a6b6*/
  top: 0;
  right: 0;
}

.bucket_selected {
  /*border-radius: 10px;*/
  /*border: 4px solid #ee6557;*/
  background-color: #393e3f;
  /*opacity: .5;*/
  /*box-shadow: 0 0 5px 5px rgba(218, 165, 32, 0.4);*/
}

.bucket {
  width: 100%;
  height: 100%;
  overflow: scroll;
  list-style-type: none;
}

.bucket_item {
  background-color: rgba(0, 0, 0, 0.2);
  /*margin-bottom: 3px;*/
  width: 100%;
}

.bucket_item_holder {
  width: 100%;
  /*height: 20%;*/
  border: 2px dotted rgba(255,255,255,0.8);
  color: rgba(255,255,255,0.8);
  font-size: 1.2em;
  padding: 8%;
  overflow: auto;
  top: 40%;
}

.item_holder_hover {
  color: rgba(218, 165, 32, 0.4);
  border: 2px dotted rgba(218, 165, 32, 0.4);
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.thumb {
  width: 100%;
  height: 100%;
}

.remove_bucket_item {
  top: 0;
  right: 0;
  margin: 10px;
  font-size: 1.1em;
  cursor: pointer;
  color: rgba(225,225,225,1);
}

.remove_bucket_item:hover {
  color: white;
  -webkit-transition: all .12s ease-in-out;
}

.bucket_img {
  position: relative;
}

.bucket_title {
  position: absolute;
  bottom: 0;
  padding: 5px;
  font-size: 1.3em;
  color: rgba(245,245,245,1);
}

.white_overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
}

.moreInfo {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding-top: 10%;
  background-color: rgba(0,0,0,0.8);
  color: white;
  overflow: hidden;
}

.showMoreInfo {
  display: block;
}

.handle {
  width: 40px;
  height: 40px;
  background-image: url(../images/toggle_order_icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  cursor: pointer;
}

.handle:hover {
  background-image: url(../images/toggle_order_icon_lighter.png);
}

.add_space {
  width: 100%;
  height: 200px;
  background-color: transparent
}

.trashcan {
  top:3px;
  right: 28px;
  position: absolute;
  color: rgba(118,194,187,1);
  background-color: transparent;
}

.glyphicon.glyphicon-trash {
}

.glyphicon.glyphicon-trash:hover {
  color: #ee6557;
  cursor: pointer;
}

.bucketfadebottom {
  width: 20%;
  height: 25%;
  position: fixed;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(
  linear, top, bottom, from(rgba(255,255,255,0.0)),
  color-stop(0.35, rgba(255,255,255,1)),
  to(rgba(255,255,255,1))
  );
  z-index: 1;
  background-image:-webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .6));
}

.read.btn.btn-default {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #ee6557; 
  border-color: #ee6557;
  color: rgba(225,225,225,1);
}

.read.btn.btn-default:hover {
  background-color: #ff6e60; 
  border-color: #ff6e60;
  color: white;
  -webkit-transition: all .1s ease-in-out;
}

/*-----------------------------------------
Drag placeholder and selector
-----------------------------------------*/
.sortable-dragging {
}
.sortable-placeholder {
  border: 2px dotted #ee6557;
}

/*-----------------------------------------
Bucket: Animated
-----------------------------------------*/

/*
* === Whole Bucket ===
*/

/*
* — Container div to place bucket svg —
*/

.animation_container {
  position: fixed;
  width: 15%;
  height: 30%;
  right: 3%;
  bottom: 0%;
  z-index: 3;
  /*border: 1px solid red;*/
}

/*
* — Container div to load bucket svg —
*/

#stage {
  position: relative;
  height: 100%;
  /*border: 1px solid black;*/
}

#Layer_1 {
  height: 100%;
  /*position: absolute;*/
  /*top: 20%;*/
  width: 100%;
}

.wholeBucket {
  -webkit-animation: float 3s ease-out infinite;
  -moz-animation: float 3s ease-out infinite;
  animation: float 3s ease-out infinite;
}

  @-webkit-keyframes float { 
    50% { 
      -webkit-transform: translate(0, 20px); 
    } 
  }

  @keyframes float {
    50% {
       transform: translate(0, 20px);
    }
  }

.happyBucket {
  /*refactor happy bucket & addClass/removeClass in js*/
}

/*
* === Bucket Bounce ===
*/

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  3s ease-out infinite
}
/*
* === Bucket Eyes ===
*/

#happy {
  opacity: 0;
}

#openEyes:hover { 
  opacity: 0;
}

#openEyes {
-webkit-animation: blink 4s steps(30, start) infinite;
}

  @-webkit-keyframes blink {
    to { visibility: hidden; }
  }

#leftPupil {
  -webkit-animation:spin 1s alternate infinite;
  -moz-animation:spin 1s alternate infinite;
  animation:spin 1s alternate infinite;
}

#rightPupil {
  -webkit-animation:spin 1s alternate infinite;
  -moz-animation:spin 1s alternate infinite;
  animation:spin 1s alternate infinite;
}

  @-moz-keyframes spin { 
    100% { 
      -moz-transform: rotate(-.5deg); 
    } 
  }

  @-webkit-keyframes spin { 
    100% { 
      -webkit-transform: rotate(-.5deg); 
    }
  }

  @keyframes spin { 
    100% { 
      -webkit-transform: rotate(-.5deg); 
      transform:rotate(-.5deg); 
    } 
  }

#grin {
  opacity: 0;
}

.excited {
  -webkit-transform-origin: 50% 50%;
  -webkit-transform: scale(1.5);
}

.default_eyes {
  -webkit-transform-origin: 50% 50%;
  -webkit-transform: scale(1);  
}

/*
* === Bucket Shadow ===
*/

.shadow_container {
  position: fixed;
  width: 15%;
  height: 10%;
  right: 3%;
  bottom: 0%;
  /*border: 1px solid green;*/
  z-index: 2;
}

#shadowStage {
  position: relative;
  /*height: 100%;*/
  /*border: 1px solid black;*/
}

.bucketShadow {
  /*height: 100%;*/
  /*position: absolute;*/
  /*top: 20%;*/
  width: 100%;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

.shadow {
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: shrink 3s ease-out infinite;
  -moz-animation: shrink 3s ease-out infinite;
  animation: shrink 3s ease-out infinite;
}

.pause {
  -webkit-animation-play-state:paused;
}

@-webkit-keyframes shrink {
  0% {
    -webkit-transform: scale(.8);
    
  }
  50% {
    -webkit-transform: scale(1.2);
    
  }
  100% {
    -webkit-transform: scale(.8);
    
  }
}


/*-----------------------------------------
Heart: Animated
-----------------------------------------*/

#heart {
  position: fixed;
  width: 2%;
  height: 9%;
  right: 17%;
  bottom: 16%;
  opacity: 0;
}